html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0 10px 0 64px;
}

@media all and (max-width: 660px) {
  body {
    line-height: 1.6em;
    padding: 0 16px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-color);
    color: var(--text-color);
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-weight: 700;
}

a:hover {
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-bottom: 2px solid;
}

p {
  margin-bottom: 2rem;
}

/* ---- Layout ---- */

body {
  margin: 0 auto;
  max-width: 640px;
}

body > header {
  display: block;
  margin: 8rem 0 2rem;
}

body > header img {
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

@media all and (max-width: 660px) {
  body > header {
    margin: 5rem 0 3rem;
  }
}

body > header h1 {
  font-size: 32px;
  line-height: 1em;
  font-weight: 700;
  margin-top: 1em;
}

body > header h1 a {
  color: var(--text-color);
}

body > header h1 a:hover {
  color: var(--link-color);
}

body > main h3 {
  font-size: 22px;
  line-height: 1em;
  font-weight: 600;
  margin-top: 3em;
  clear: both;
}

body > main {
  display: block;
}

body > footer {
  margin: 2rem 0;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
}

body > footer a {
  color: var(--text-color);
}

body > footer a:hover {
  color: var(--link-color);
}

.experiences {
  margin-top: 1em;
}

.experiences li {
  display: block;
  text-decoration: none;
  border-radius: 0;
  line-height: 1.2;
  border-bottom: none;
  transition: 0.01s background-color ease-out;
  cursor: pointer;
  width: auto;
}

.experiences li:hover {
  background-color: var(--background-hover-color);
  border-radius: 0.5em;
}

.work-xp {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding: 1em;
}

.work-xp a {
  display: flex;
  color: var(--text-color);
}

.work-xp a:hover {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.work-xp img {
  max-width: 64px;
  border-radius: 0.7em;
}

.xp-desc {
  margin-top: 0.3em;
  margin-left: 0.5em;
}

.xp-desc > .xp-company {
  font-size: 0.9em;
}

.xp-desc > .xp-date {
  color: #585858;
  margin-top: 0.2em;
  font-size: 0.7em;
}

ul.social-links {
  padding-top: 0.1em;
  padding-bottom: 1.5em;
}

ul.social-links li {
  float: left;
}

ul.social-links li a {
  font-size: 0.9em;
}
